@model SIMS.Models.Student

@{
    ViewData["Title"] = "Create Student";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <h4>Personal Information</h4>
            <div class="form-group mb-2">
                <label class="control-label">Student Code</label>
                <input asp-for="StudentCode" class="form-control" />
                <span asp-validation-for="StudentCode" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label class="control-label">Full Name</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
             <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <hr/>
            <h4>Account Information</h4>
             <div class="form-group mb-2">
                <label class="control-label">Username</label>
                @* Because User is not part of the Student Model, we use name="" to capture it in the Controller *@
                <input name="username" class="form-control" required />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Password</label>
                <input name="password" type="password" class="form-control" required />
            </div>

            <!-- ==================================================== -->
            <!-- == PLEASE CHECK THIS PART IN YOUR CODE == -->
            <!-- ==================================================== -->
            <div class="form-group mt-4">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>
@* This section is required for validation error messages to work *@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}